#Django Apps
django-phonenumber-field
djangorestframework
django-environ
django-heroku
django-rest-knox
django-cors-headers
django-cors-middleware

#Database postgres
psycopg2-binary



#THIRD PARTY
gunicorn
